@import './variables.scss';
$grid__bp-md: 768;

@mixin box-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: $default) {
  box-shadow: $x-axis $y-axis $blur $color;
}
.container {
  max-width: $grid__bp-md * 1px;
  margin: 0 auto;
  &--fluid {
    margin: 0;
    max-width: 100%;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  &__col {
    flex-basis: (100) * 1%;
  }
  .addButton{
    width: 80px;
    height: 30px;
    background-color: $backgroundButtonAdd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    .textButton{
      color: $textColor;
    }
  }
  p{
    margin: 0;
  }

}

//Styling of grid for demostration purposes
.container {
  box-sizing: border-box;
  &__row {
  }
  &__col {
    height: 30px;
    background-color: $backgroundLight;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    outline: none;
  }
  &__CardList {
    height: 100px;
    width: 400px;
    background-color: $cardBackground;
    margin: 5px 0;
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    align-items: center;
    border-radius: 5px;
    outline: none;
    &__text{
      color: $backgroundLight;
      padding:0 10px;
    }
    &__textEdit{
      color: $primary-color;
      padding:0 10px;
    }
    &__Button{
      background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      &_icon{
        width: 20px;
        height: 20px;

      }
    }
  }
}
